include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CITATION.cff
include SECURITY.md
include LICENSE
recursive-include docs *.md
recursive-include gibbus *.py
recursive-include gibbus *.pyx
recursive-include gibbus *.pxd
include gibbus/py.typed
recursive-exclude gibbus *.c
recursive-exclude gibbus *.h

recursive-include tests *.py *.npz *.npy *.md
